In [3]:
# Import dependencies
import pandas as pd
from selenium import webdriver
from selenium.webdriver import ActionChains
from bs4 import BeautifulSoup

In [4]:
# Apple url links
aapl_is = "http://www.macrotrends.net/stocks/charts/AAPL/apple/income-statement?freq=Q"
aapl_bs = "https://www.macrotrends.net/stocks/charts/AAPL/apple/balance-sheet?freq=Q"
aapl_cf = "https://www.macrotrends.net/stocks/charts/AAPL/apple/cash-flow-statement?freq=Q"
aapl_ratios = "https://www.macrotrends.net/stocks/charts/AAPL/apple/financial-ratios?freq=Q"

In [5]:
# Amazon url links
amzn_is = "http://www.macrotrends.net/stocks/charts/AMZN/amazon/income-statement?freq=Q"
amzn_bs = "https://www.macrotrends.net/stocks/charts/AMZN/amazon/balance-sheet?freq=Q"
amzn_cf = "https://www.macrotrends.net/stocks/charts/AMZN/amazon/cash-flow-statement?freq=Q"
amzn_ratios = "https://www.macrotrends.net/stocks/charts/AMZN/amazon/financial-ratios?freq=Q"

In [6]:
# Facebook url links
fb_is = "http://www.macrotrends.net/stocks/charts/FB/facebook/income-statement?freq=Q"
fb_bs = "https://www.macrotrends.net/stocks/charts/FB/facebook/balance-sheet?freq=Q"
fb_cf = "https://www.macrotrends.net/stocks/charts/FB/facebook/cash-flow-statement?freq=Q"
fb_ratios = "https://www.macrotrends.net/stocks/charts/FB/facebook/financial-ratios?freq=Q"

In [7]:
# Alphabet url links
googl_is = "http://www.macrotrends.net/stocks/charts/GOOGL/alphabet/income-statement?freq=Q"
googl_bs = "https://www.macrotrends.net/stocks/charts/GOOGL/alphabet/balance-sheet?freq=Q"
googl_cf = "https://www.macrotrends.net/stocks/charts/GOOGL/alphabet/cash-flow-statement?freq=Q"
googl_ratios = "https://www.macrotrends.net/stocks/charts/GOOGL/alphabet/financial-ratios?freq=Q"

In [8]:
# Microsoft url links
msft_is = "http://www.macrotrends.net/stocks/charts/MSFT/microsoft/income-statement?freq=Q"
msft_bs = "https://www.macrotrends.net/stocks/charts/MSFT/microsoft/balance-sheet?freq=Q"
msft_cf = "https://www.macrotrends.net/stocks/charts/MSFT/microsoft/cash-flow-statement?freq=Q"
msft_ratios = "https://www.macrotrends.net/stocks/charts/MSFT/microsoft/financial-ratios?freq=Q"

In [9]:
# Create driver session in Chrome browser
driver = webdriver.Chrome()

# Maximize the web page to try to get the elements to have the same spacing for each url
# Tell the driver what url to scrape (Apple income statement in this case)
driver.maximize_window()
driver.get(aapl_is)

# Create table variable to grab the div element id for the table on the web page
table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
# Create a variable to hold the div element id for the scrollbar
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

# Use ActionChains to be able to automate the "drag and drop" of the scrollbar when scraping because
# not all of the information we are trying to scrape is visible without dragging the scrollbar over 
actions = ActionChains(driver)

# Had to adjust the range for some urls because of the way that the longer Quarterly Data elements were
# aligned (Research and Development Expenses was sometimes 1 lin, other times 2 lines, and sometimes 3 lines).
# This resulted in having to adjust how far the to drag the scrollbar when scraping the Facebook urls
for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [10]:
# Create soup object to access the outerHTML of the table because we still need the html elements 
# to be able to separately access the contents within the table
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")

# Create a variable to hold the div element role="columnheader" from the html and then grab only
# the text out of this div element
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]

# Create a variable to hold the div element role="row" from the html and grab the text from the immediate
# children of the div by restricting it through recursive=False, or else the scrape passes over some of the
# div elements in the table
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]

# Create a dataframe containing the scraped data and column headers
aapl_is_df = pd.DataFrame(data, columns=column_headers)

# Close the webdriver
driver.close()

aapl_is_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$53,809","$58,015","$84,310","$62,900","$53,265","$61,137","$88,293","$52,579","$45,408","$52,896","$78,351"
1,Cost Of Goods Sold,,"$33,582","$36,194","$52,279","$38,816","$32,844","$37,715","$54,381","$32,648","$27,920","$32,305","$48,175"
2,Gross Profit,,"$20,227","$21,821","$32,031","$24,084","$20,421","$23,422","$33,912","$19,931","$17,488","$20,591","$30,176"
3,Research And Development Expenses,,"$4,257","$3,948","$3,902","$3,750","$3,701","$3,378","$3,407","$2,997","$2,937","$2,776","$2,871"
4,SG&A Expenses,,"$4,426","$4,458","$4,783","$4,216","$4,108","$4,150","$4,231","$3,814","$3,783","$3,718","$3,946"

In [11]:
# Amazon income statement
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(amzn_is)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [12]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
amzn_is_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [13]:
# Facebook income statement
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(fb_is)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 8):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [14]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
fb_is_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [15]:
# Alphabet income statement
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(googl_is)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [16]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
googl_is_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [17]:
# Microsoft income statement
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(msft_is)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [18]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
msft_is_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [22]:
# Apple balance sheet
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(aapl_bs)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [23]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
aapl_bs_df = pd.DataFrame(data, columns=column_headers)

driver.close()

aapl_bs_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Cash On Hand,,"$94,614","$80,092","$86,427","$66,301","$70,970","$87,940","$77,153","$74,181","$76,759","$67,101","$60,452"
1,Notes And Loans Receivable,,-,-,-,-,-,-,-,-,-,-,-
2,Inventory,,"$3,355","$4,884","$4,988","$3,956","$5,936","$7,662","$4,421","$4,855","$3,146","$2,910","$2,712"
3,Other Current Assets,,"$10,530","$12,092","$12,432","$12,087","$12,488","$12,043","$11,337","$13,936","$10,338","$11,367","$12,191"
4,Total Current Assets,,"$134,973","$123,346","$140,828","$131,339","$115,761","$130,053","$143,810","$128,645","$112,875","$101,990","$103,332"

In [24]:
# Amazon balance sheet
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(amzn_bs)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [25]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
amzn_bs_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [26]:
# Facebook balance sheet
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(fb_bs)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 8):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [27]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
fb_bs_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [28]:
# Alphabet balance sheet
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(googl_bs)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [29]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
googl_bs_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [30]:
# Microsoft balance sheet
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(msft_bs)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [31]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
msft_bs_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [32]:
# Apple cash flow statement
# No scrollbar is needed since cash flow statements are only provided annually on this site
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(aapl_cf)

table = driver.find_element_by_id("wrapperjqxgrid")

In [33]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
aapl_cf_df = pd.DataFrame(data, columns=column_headers)

driver.close()

aapl_cf_df.head()

,Annual Data | Millions of US $ except per share data,,2018-09-30,2017-09-30,2016-09-30,2015-09-30,2014-09-30,2013-09-30,2012-09-30
0,Net Income/Loss,,"$59,531","$48,351","$45,687","$53,394","$39,510","$37,037","$41,733"
1,Total Depreciation And Amortization - Cash Flow,,"$10,903","$10,157","$10,505","$11,257","$7,946","$6,757","$3,277"
2,Other Non-Cash Items,,"$-27,694","$10,640","$9,634","$5,353","$5,210","$3,394","$6,145"
3,Total Non-Cash Items,,"$-16,791","$20,797","$20,139","$16,610","$13,156","$10,151","$9,422"
4,Change In Accounts Receivable,,"$-5,322","$-2,093",$527,$417,"$-4,232","$-2,172","$-5,551"

In [34]:
# Amazon cash flow statement
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(amzn_cf)

table = driver.find_element_by_id("wrapperjqxgrid")

In [35]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
amzn_cf_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [36]:
# Facebook cash flow statement
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(fb_cf)

table = driver.find_element_by_id("wrapperjqxgrid")

In [37]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
fb_cf_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [38]:
# Alphabet cash flow statement
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(googl_cf)

table = driver.find_element_by_id("wrapperjqxgrid")

In [39]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
googl_cf_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [40]:
# Microsoft cash flow statement
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(msft_cf)

table = driver.find_element_by_id("wrapperjqxgrid")

In [41]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
msft_cf_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [42]:
# Apple financial ratios
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(aapl_ratios)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [43]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
aapl_ratios_df = pd.DataFrame(data, columns=column_headers)

driver.close()

aapl_ratios_df.head()

,Quarterly Data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Current Ratio,,1.5046,1.3154,1.3006,1.1329,1.3073,1.456,1.242,1.2761,1.3883,1.3906,1.2282
1,Long-term Debt / Capital,,0.4682,0.4601,0.441,0.4666,0.458,0.4441,0.4257,0.4203,0.4043,0.3867,0.3572
2,Debt/Equity Ratio,,1.124,1.064,0.9732,1.0685,0.997,0.9603,0.873,0.863,0.8181,0.7348,0.6613
3,Gross Margin,,37.5904,37.6127,37.9919,38.2894,38.3385,38.3107,38.4085,37.9068,38.513,38.9273,38.5139
4,Operating Margin,,21.4537,23.1233,27.6907,25.6248,23.6778,25.9974,29.7577,24.9529,23.7139,26.6504,29.8133

In [44]:
# Amazon financial ratios
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(amzn_ratios)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [45]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
amzn_ratios_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [46]:
# Facebook financial ratios
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(fb_ratios)

table = driver.find_element_by_id("wrapperjqxgrid")

scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 8):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [47]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
fb_ratios_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [48]:
# Alphabet financial ratios
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(googl_ratios)

table = driver.find_element_by_id("wrapperjqxgrid")
driver.execute_script("window.scrollBy(0, 600);")
scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [49]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
googl_ratios_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [50]:
# Microsoft financial ratios
driver = webdriver.Chrome()
driver.maximize_window()
driver.get(msft_ratios)

table = driver.find_element_by_id("wrapperjqxgrid")

scrollbar = driver.find_element_by_id("jqxScrollThumbhorizontalScrollBarjqxgrid")

actions = ActionChains(driver)

for i in range(1, 7):
    actions.drag_and_drop_by_offset(scrollbar, i, 0).perform()

In [51]:
soup = BeautifulSoup(table.get_attribute('outerHTML'), "html.parser")
headers_list = soup.find_all('div', {'role': 'columnheader'})
column_headers=[h.text for h in headers_list]
div_list = soup.find_all('div', {'role': 'row'})
data = [[x.text for x in div.find_all('div', recursive=False)] for div in div_list]
msft_ratios_df = pd.DataFrame(data, columns=column_headers)

driver.close()

In [52]:
# Merge Apple's income statement and balance sheet dataframes
aapl_df = pd.merge(aapl_is_df, aapl_bs_df, how="outer")
aapl_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$53,809","$58,015","$84,310","$62,900","$53,265","$61,137","$88,293","$52,579","$45,408","$52,896","$78,351"
1,Cost Of Goods Sold,,"$33,582","$36,194","$52,279","$38,816","$32,844","$37,715","$54,381","$32,648","$27,920","$32,305","$48,175"
2,Gross Profit,,"$20,227","$21,821","$32,031","$24,084","$20,421","$23,422","$33,912","$19,931","$17,488","$20,591","$30,176"
3,Research And Development Expenses,,"$4,257","$3,948","$3,902","$3,750","$3,701","$3,378","$3,407","$2,997","$2,937","$2,776","$2,871"
4,SG&A Expenses,,"$4,426","$4,458","$4,783","$4,216","$4,108","$4,150","$4,231","$3,814","$3,783","$3,718","$3,946"

In [53]:
# Merge Amazon's income statement and balance sheet dataframes
amzn_df = pd.merge(amzn_is_df, amzn_bs_df, how="outer")
amzn_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$63,404","$59,700","$72,383","$56,576","$52,886","$51,042","$60,453","$43,744","$37,955","$35,714","$43,741"
1,Cost Of Goods Sold,,"$36,337","$33,920","$44,786","$33,003","$30,632","$30,735","$38,494","$27,549","$23,451","$22,440","$28,959"
2,Gross Profit,,"$27,067","$25,780","$27,597","$23,573","$22,254","$20,307","$21,959","$16,195","$14,504","$13,274","$14,782"
3,Research And Development Expenses,,"$9,065","$7,927","$7,669","$7,162","$7,247","$6,759","$6,314","$5,944","$5,549","$4,813","$4,544"
4,SG&A Expenses,,"$14,832","$13,438","$16,056","$12,619","$11,944","$11,558","$13,460","$9,859","$8,261","$7,412","$8,948"

In [54]:
# Merge Facebook's income statement and balance sheet dataframes
fb_df = pd.merge(fb_is_df, fb_bs_df, how="outer")
fb_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$16,886","$15,077","$16,914","$13,727","$13,231","$11,966","$12,972","$10,328","$9,321","$8,032","$8,809"
1,Cost Of Goods Sold,,"$3,307","$2,816","$2,796","$2,418","$2,214","$1,927","$1,610","$1,448","$1,237","$1,159","$1,047"
2,Gross Profit,,"$13,579","$12,261","$14,118","$11,309","$11,017","$10,039","$11,362","$8,880","$8,084","$6,873","$7,762"
3,Research And Development Expenses,,"$3,315","$2,860","$2,855","$2,657","$2,523","$2,238","$1,949","$2,052","$1,919","$1,834","$1,563"
4,SG&A Expenses,,"$5,638","$6,084","$3,443","$2,871","$2,631","$2,352","$2,060","$1,706","$1,764","$1,712","$1,633"

In [55]:
# Merge Google's income statement and balance sheet dataframes
googl_df = pd.merge(googl_is_df, googl_bs_df, how="outer")
googl_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$38,944","$36,339","$39,276","$33,740","$32,657","$31,146","$32,323","$27,772","$26,010","$24,750","$26,064"
1,Cost Of Goods Sold,,"$17,296","$16,012","$17,918","$14,281","$13,883","$13,467","$14,267","$11,148","$10,373","$9,795","$10,661"
2,Gross Profit,,"$21,648","$20,327","$21,358","$19,459","$18,774","$17,679","$18,056","$16,624","$15,637","$14,955","$15,403"
3,Research And Development Expenses,,"$6,213","$6,029","$6,034","$5,232","$5,114","$5,039","$4,306","$4,205","$4,172","$3,942","$3,622"
4,SG&A Expenses,,"$6,255","$5,993","$7,991","$5,917","$5,544","$5,007","$6,086","$4,637","$4,597","$4,445","$5,142"

In [56]:
# Merge Microsoft's income statement and balance sheet dataframes
msft_df = pd.merge(msft_is_df, msft_bs_df, how="outer")
msft_df.head()

,Quarterly Data | Millions of US $ except per share data,,2019-06-30,2019-03-31,2018-12-31,2018-09-30,2018-06-30,2018-03-31,2017-12-31,2017-09-30,2017-06-30,2017-03-31,2016-12-31
0,Revenue,,"$33,717","$30,571","$32,471","$29,084","$30,085","$26,819","$28,918","$24,538","$25,605","$23,212","$25,826"
1,Cost Of Goods Sold,,"$10,412","$10,170","$12,423","$9,905","$9,742","$9,269","$11,064","$8,278","$8,456","$8,060","$9,901"
2,Gross Profit,,"$23,305","$20,401","$20,048","$19,179","$20,343","$17,550","$17,854","$16,260","$17,149","$15,152","$15,925"
3,Research And Development Expenses,,"$4,513","$4,316","$4,070","$3,977","$3,933","$3,715","$3,504","$3,574","$3,514","$3,355","$3,062"
4,SG&A Expenses,,"$6,387","$5,744","$5,720","$5,247","$6,031","$5,543","$5,671","$4,978","$5,647","$5,074","$4,958"

In [57]:
# Export the 5 merged dataframes as CSV files
aapl_df.to_csv("./Datasets/AAPL_IS_BS.csv")
amzn_df.to_csv("./Datasets/AMZN_IS_BS.csv")
fb_df.to_csv("./Datasets/FB_IS_BS.csv")
googl_df.to_csv("./Datasets/GOOGL_IS_BS.csv")
msft_df.to_csv("./Datasets/MSFT_IS_BS.csv")

In [58]:
# Export the 5 cash flow dataframes as CSV files
aapl_cf_df.to_csv("./Datasets/AAPL_CF.csv")
amzn_cf_df.to_csv("./Datasets/AMZN_CF.csv")
fb_cf_df.to_csv("./Datasets/FB_CF.csv")
googl_cf_df.to_csv("./Datasets/GOOGL_CF.csv")
msft_cf_df.to_csv("./Datasets/MSFT_CF.csv")

In [59]:
# Export the 5 financial ratio dataframes as CSV files
aapl_ratios_df.to_csv("./Datasets/AAPL_ratios.csv")
amzn_ratios_df.to_csv("./Datasets/AMZN_ratios.csv")
fb_ratios_df.to_csv("./Datasets/FB_ratios.csv")
googl_ratios_df.to_csv("./Datasets/GOOGL_ratios.csv")
msft_ratios_df.to_csv("./Datasets/MSFT_ratios.csv")